body{
    margin: 0;
}
/*Nie ma tu responsywnosci bo to za trudne :c*/
header{
    background-color: #EEEEEE;
    padding: 0.5em;
}
nav{
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5em;
}
nav>div>a,nav>button>a{
    text-decoration: none;
    display: flex;
}
nav>.login>button{
    border-radius: 2rem;
    background-color: #000000;
    padding: 0.5em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.login>button>a{
    text-decoration: none;
    color: #ffffff;
}

nav>div>a{
    color: #000000;
}
.search_bar>form>input{
    border: 2px #000000 solid;
    padding: 0.5em;
    width: 150%;
}
footer{
    clear: both;
    background-color: #EEEEEE;
    padding: 1em;
    display: grid;
    justify-content: center;
}
main{
    display: grid;
    height: 100vh;
}
main>p{
    padding: 2%;
}

.websites_name{
    font-size: 220%;
}

.menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}
.menu>button{
    border: none;
    font-size: 150%;
}

#close{
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 7px;
    z-index: 1;
    text-align: center;
}

.dropdown-content>p>a{
    text-decoration: none;
}
.theme>button{
    background: url(moon-regular.svg);
    border: none;
}

.rollout-input-p,.rollout-input-m{
    font-size: 150%;
    background: none;
    border: none;
}
.rollout-info{
    width: 40%;
    padding: 1em;
}
.rollout{
    padding: 2%;
}
.blackk{
    background-color: black;
    width: 50%;
    height: 2px;
}
.slideside{
    width: 0%;
    height: 100px;
    background-color: #0000FF;
    color: #ffffff;
    padding: 0.5em;
    display: block;
    transition: all 0.3s ease-in-out;
    border-radius: 0px 15px 15px 0px;
}
.slideside:hover{
    display: block;
    width: 12%;
    transition: all 0.3s ease-in-out;
    border-radius: 0px 15px 15px 0px;
}
.slideside>ul>li{
    transition: all 0.5s ease-in-out;
}
.slideside>ul>li:hover{
    font-size: 135%;
    transition: all 0.5s ease-in-out;
}

