<<<<<<< HEAD
/*aside*/
aside {
    text-align: center;
    height: 40%;
}
#lol{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}
#nie{
    text-align: center;
    width: 100%;
    height: 40%;
}


=======
/*body*/
body {
    height: 100%;
    width: 100%;
}




>>>>>>> 565c0ba418605cd609fcd1c40f5751cff04da517
/*h1*/
h1 {
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #00C853;
    text-align: center;
}

/*form*/
form {
    text-align: center;
    padding: 25px;

}

/*button*/
#wciskoj {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

#wciskoj:hover {
    background-color: lightgray;
}

.dropB {
    background-color: white;
    color: black;
    padding: 15px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 10px;
}

.dropD {
   text-align: center;
}

.dropDC {
    text-align: center;
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 45%;
}

.dropDC a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropDC a:hover {
    background-color: rgb(163, 163, 163);
}

.dropD:hover .dropDC {
    display: block;
}

.dropD:hover .dropB {
    background-color: rgb(211, 211, 211);
}

/*select*/
#bombaa {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

#bombaa:hover {
    background-color: lightgray;
}

/*fig*/
figure {
    text-align: center;
}

figcaption {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*img*/
img {
    text-align: center;
    border-radius: 25px;
    width: 30%;
    height: 10%;
}


/*p*/
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
}

<<<<<<< HEAD
#info {
=======
.info {
>>>>>>> 565c0ba418605cd609fcd1c40f5751cff04da517
    text-align: center;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*a*/
a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: #00C853;
    text-align: center;
}


/*u*/
<<<<<<< HEAD
#notes {
=======
.notes {
>>>>>>> 565c0ba418605cd609fcd1c40f5751cff04da517
    text-align: center;
    list-style-type: none;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*hr*/
hr {
    align-self: center;
<<<<<<< HEAD
    width: 100%;
=======
    width: 1150px;
>>>>>>> 565c0ba418605cd609fcd1c40f5751cff04da517
    height: 1px;
    background-color: #858585;
    border: none;
}


/*footer*/
<<<<<<< HEAD
footer {
    clear: both;
=======
.footer {
>>>>>>> 565c0ba418605cd609fcd1c40f5751cff04da517
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    background-color: #CFD8DC;
    position: sticky;
<<<<<<< HEAD
    width: 97%;
    height: 10%;
=======
    width: 100%;
    height: 200px;
>>>>>>> 565c0ba418605cd609fcd1c40f5751cff04da517
    padding: 1rem;
}


/*footer_ul*/
<<<<<<< HEAD
#footer_ul {
    text-align: left;
    list-style-type: none;

}

/*li*/
li {
    text-align: center;
=======
.footer_ul {
    text-align: left;
    list-style-type: none;

>>>>>>> 565c0ba418605cd609fcd1c40f5751cff04da517
}