/*body*/
body {
    height: 100%;
    width: 100%;
}




/*h1*/
h1 {
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #00C853;
    text-align: center;
}


/*figcaption*/
figcaption {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*img*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    height: 80px;
    width: 1000px;
}


/*p*/
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
}

.info {
    text-align: center;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*a*/
a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: #00C853;
    text-align: center;
}


/*u*/
.notes {
    text-align: center;
    list-style-type: none;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*hr*/
hr {
    align-self: center;
    width: 1150px;
    height: 1px;
    background-color: #858585;
    border: none;
}


/*footer*/
.footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    background-color: #CFD8DC;
    position: sticky;
    width: 100%;
    height: 200px;
    padding: 1rem;
}


/*footer_ul*/
.footer_ul {
    text-align: left;
    list-style-type: none;

}